body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
}

.header-main {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-main .container {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: flex-start;
    margin-right: 76px;
}

.logo-text {
    color: #2e2f42;
}

.header-nav-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.header-nav-list:last-child {
    margin-right: 0;
}

.link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:focus,
.link-header:hover {
    color: #404BBF;
}

.link-header-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: #2e2f42; */
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404BBF;
}

.link-header-one::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
}

.contacts {
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list:last-child {
    margin-right: 0px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
    color: #404BBF;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
}

.business {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 496px;
        margin: 0 auto;
}

.hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: #4d5ae5;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 48px auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
    background-color: #404BBF;
}

.advantages {
        padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* .pp {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
} */

.adv-list {
    display: flex;
    gap: 24px;
}

.adv-list-link {
    width: calc((100% - 72px) / 4);
}

.adv-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.title-tree {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.command {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.command-list {
    display: flex;
    gap: 24px;
}

.command-link {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.command-link-one {
    background-color: #fff;
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker-name {
    padding: 32px 0;
}

.command-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}

.command-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.sn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 8px;
}

.sn-link { 
    width: 40px;
    height: 40px;
}

.sn-link-one {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sn-link-one:hover,
.sn-link-one:focus {
    background-color: #404bbf;
}

.link-icon {
    fill: #f4f4fd;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.works-list-item {
    background-color: #fff;
    border-top: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-icon {
    position: relative;
    overflow: hidden;
}

.img-text {
    position:absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list-item:hover .img-text {
    transform: translateY(0%);
}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-name > .title-tree {
    margin-bottom: 8px;
}

.title-two {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container-footer { 
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
    flex-direction: column;
    display: flex;
    align-items: baseline;
}



.socnet-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.socnet-list {
    display: flex;
    gap: 16px;
}

.socnet-link {
    width: 40px;
    height: 40px;
}

.socnet-link-one {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet-link-one:hover,
 .socnet-link-one:focus{
    background-color: #31d0aa;
}

.footer-cont {
    margin-right: 120px
}

.logo-footer {  
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.logo-footer-span {
    color: #f4f4fd;
}

.footer-p {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
